<template>
<div>
<Navbar />

  <div class="container">
    <form @submit="onSubmit">

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="name" class="form-control" v-model.trim="name" />
    </div>

    <div class="form-group">
      <label for="describe">Description</label>
      <textarea type="text" id="brief" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" id="variants" class="form-control" />
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <select
        id="category"
        @click="getCategory"
        v-model="selected"
        class="form-control"
      >
        <option
          v-for="category in categories"
          v-bind:key="category.id"
          v-bind:value="{ id: category.id, text: category.name }"
        >
          {{ category.name }}
        </option>
      </select>

    </div>

    <!-- <div class="form-group">
  <div class="custom-file">
            <label for="file">Upload image</label>

    <input type="file" class="custom-file-input" id="file" aria-describedby="image">
    <label class="custom-file-label" for="file">Choose file</label>
  </div>
        </div> -->

    <button class="btn btn-success btn-rounded" @click="createGift">Add gift</button>
    </form>
  
  </div>
</div>

</template>

<script>

import Navbar from '../components/Navbar'
// import { mapGetters, mapState } from 'vuex';

export default {
 data() {
   return {
     name: '',
     brief: '',
     variants: '',
     category: ''
   }
 },
 methods:{
  //  onSubmit() {
  //    const baseURL = 'https://api.giftmarket.io/'
  //    const addProduct = ''
  //  }
 },
  components: {
      Navbar
  }
};
</script>
