<template>
  <div class="container">
    <div class="form-group">
      <label class="active" for="username"></label>
      <input
        type="text"
        id="username"
        class="form-control"
        v-model.trim="username"
      />
    </div>

    <div class="form-group">
      <label class="active" for="role"></label>
      <input type="text" id="role" class="form-control" v-model.number="role" />
    </div>

    <button class="btn btn-success" @click="createUser">Add user</button>
  </div>
</template>

<script>

export default {
  data() {
    return {
      username: "god",
      role: "4",
      users: []
    };
  },
  methods: {
    createUser() {
      const user = {
        username: this.username,
        role: this.role
      };
      // const token = document.location.search.substr(7,32)

      this.$http
        .post("http://localhost:3000/admin", user)
        .then(response => {
          return response.json();
        })
        .then(newUser => {
          console.log(newUser);
        });
    }
  }
};
</script>
