<template>
  <div>
    <Navbar />
    <div class="container mt-3">
      <div class="header-container">
    <h1>Пользователи</h1>
    <button class="btn btn-success" data-toggle="modal" data-target="#addUserModal">Добавить пользователя</button>
      </div>
      <table class="table table-striped">
             <thead>
            <tr>
                <td>ID</td>
                <td>Пользователь</td>
                <td>Роль</td>
                <td>Функции</td>
            </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" :key="user.id">
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.role}}</td>
                    <td>
                        <router-link v-bind:id="user.id" tag="i" class="fas i-custom i-custom-edit fa-edit" :to="'/edit/'+user.id"></router-link>
                        <i  @click="userRemove(user.id)"  class="far fa-trash-alt i-custom i-custom-remove"></i>

                    </td>

                </tr>
            </tbody>
         </table>
    </div>
    <ModalAddUser />
   
    
    <v-popup
        v-if="isInfoPopupVisible"
        rightBtnTitle="Edit"
        :popupTitle="'Editing ' + user.username"
        @closePopup="closeInfoPopup"
        @rightBtnAction="addToCart"
    >
      <p>{{user.username}}</p>
    </v-popup>


  </div>
</template>

<style lang="scss">
.header{
    &-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
.i{
  &-custom{
    color: #b8b8b8;
    font-size: 18px;
      margin: 0px 8px;
  cursor: pointer;
    &-remove{
      &:hover{
      color: red;
      }
    }
    &-edit{
      &:hover{
      color: blue;
      }
    }
  }
}
</style>

<script>

import axios from 'axios';

import Navbar from '../components/Navbar'
import ModalAddUser from '../components/ModalAddUser'
import vPopup from '../components/v-popup'
import { mapGetters, mapActions, mapState } from 'vuex'

const baseURL = 'https://api.giftmarket.io'
const removeUser = '/admin/admins/remove?token='
// const editUser = '/admin/admins/edit?token='

const token = localStorage.token


export default {
  props: {
    user_data: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  computed: {
    ...mapGetters([
      'USERS',
    ]),
    ...mapState({
          users: state => {
              return state.users.data;
          }
      })
  },
  data () {
    return {
      isInfoPopupVisible: false
    }
  },
  methods: {
    ...mapActions([
      'SET_USERS_TO_STATE',
      'GET_USERS_FROM_API'
    ]),
    userRemove(id){
      axios.get(baseURL + removeUser + token + '&id=' + id)
      .then((response) => {
        location.reload()
        return response
      })
    },
      productClick() {
        this.$emit('productClick', this.user.id)
      },
      showPopupInfo() {
        this.isInfoPopupVisible = true;
      },
      closeInfoPopup() {
        this.isInfoPopupVisible = false;

      },
      addToCart() {
        this.$emit('addToCart', this.user);
      }
  },
  mounted() {
    this.GET_USERS_FROM_API()
    .then((response) => {
      return response
    })
  },
  components: {
     Navbar,
     ModalAddUser,
     vPopup
    }
}


</script>