<template>
  <div>
    <Navbar />
    <div class="container mt-3">
        <div class="header-container">
    <h1>Категории</h1>
      </div>
         <table class="table table-striped">
             <thead>
            <tr>
                <td>ID</td>
                <td>Иконка</td>
                <td>Название</td>
                <td>Описание</td>
                <td>Видимость</td>
                <td>Функции</td>
            </tr>
            </thead>
            <tbody>
                <tr v-for="category in categories" :key="category.id">
                    <td>{{category.id}}</td>
                   <td> 
                     <img :src="category.image" class="table-cat-image" alt="">
                     </td> 
                    <td>{{category.name}}</td>
                    <td>{{category.title}}</td>
                    <td>
                      <span v-if="category.active">
                        <p class="text-success">Активно</p>
                      </span>
                      <span v-else="">
                        <p class="text-danger">Не активно</p>
                      </span>
                    </td>
                       <td><router-link v-bind:id="category.id" tag="i" class="fas i-custom i-custom-edit fa-edit" :to="'/category-edit/'+category.id"></router-link></td>
                </tr>
            </tbody>
         </table>
    </div>
  </div>
</template>

<script>
import Navbar from '../components/Navbar'
import { mapGetters, mapActions, mapState } from 'vuex'


export default {
components: {
     Navbar
  },
  computed: {
      ...mapGetters([
          'CATEGORIES'
      ]),
      ...mapState({
          categories: state => {
              return state.categories.data;
          },
          category: state => {
            const id = this.$route.params.id
            return state.category(id);
          }
      })
  },
  methods: {
      ...mapActions([
          'SET_CATEGORIES_TO_STATE',
          'GET_CATEGORIES_FROM_API'
      ])
  },
  mounted() {
      this.GET_CATEGORIES_FROM_API()
      .then((response) => {
        //   console.log(response)
          return response;
      })
  }
}
</script>

<style lang="scss">
.header{
    &-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .table{
  &-cat-image{
    height: 30px;
    width: 30px;
  }
}
  .i{
  &-custom{
    color: #b8b8b8;
    font-size: 18px;
      margin: 0px 8px;
  cursor: pointer;
    &-remove{
      &:hover{
      color: red;
      }
    }
    &-edit{
      &:hover{
      color: blue;
      }
    }
  }
}
</style>