<template>
  <div>
      <Navbar />
  <div class="container">
<div class="header-container mt-3">
    <h1>Редактирование категории: {{category.name}}</h1>
     </div>
     <div class="row">

         <div class="col-md-6">
<form>
         <div class="md-form">
             <input type="text" v-model="category.name" class="form-control" name="name" id="name">
             <label for="name" class="active">Название категории</label>
         </div>
         <div class="md-form">
             <input class="form-control" type="text" v-model="category.title" name="title" id="title">
             <label class="active" for="category.title">Описание категории</label>
         </div>       
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="visibility" v-model="category.active">
            <label class="form-check-label" for="visbility">Видимость категории</label>
        </div>
            <button @click="editCategory" class="btn btn-success">Сохранить</button>
         
     </form>
         </div>
         <div class="col-md-6">
             <div class="card ">
                 <div class="card-body live-preview">
<h6>Предварительный просмотр</h6>
                 <hr>
                 <h6 class="text-primary">Название</h6>
                 <p>{{category.name}}</p>
                 <h6 class="text-primary">Описание категории</h6>
                 <p>{{category.title}}</p>
                 <h6 class="text-primary">Видимость категории</h6>
                 <div v-if="category.active">
                     <p class="text-success">Активно</p>
                 </div>
                    <div v-else="">
                     <p class="text-danger">Не активно</p>
                 </div>

                 </div>
                 
             </div>
         </div>
     </div>
     
  </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar"
import { mapGetters, mapActions, mapState } from 'vuex'
import axios from "axios"

const baseURL = 'https://api.giftmarket.io'
const editCategory = '/admin/categories/edit?token='
const token = localStorage.token

export default {
data() {
    return {
    id: this.$route.params['id'],
    name: '',
    title: '',
    active: Boolean
    }
},
components: {
    Navbar
},

computed: {
    ...mapGetters([
        'CATEGORIES',
        'GET_CATEGORY',
        'CATEGORY'
    ]),
    category: function(){
        console.log( this.$store.getters.GET_CATEGORY(this.id) + ' and id: ' + this.id)
        return this.$store.getters.GET_CATEGORY(this.id)
    },
    ...mapState({
          categories: state => {
              return state.categories.data;
          },
        //   getCategory: state => id => {
        //     return this.GET_CATEGORY(id);
        //   }
      })
},
methods:{
    editCategory(){
        axios.get(baseURL + editCategory + token + '&id=' + this.$route.params['id'] + '&active='+ this.category.active +'&name=' + this.category.name + '&title=' + this.category.title)
        alert(baseURL + editCategory + token + '&id=' + this.$route.params['id'] + '&active='+ this.category.active +'&name=' + this.category.name + '&title=' + this.category.title)
   },
    ...mapActions([
        'GET_CATEGORIES_FROM_API',
        'SET_CATEGORIES_TO_STATE',
        'GET_CATEGORY_FROM_API',
        'SET_CATEGORY_TO_STATE'
    ])
},
mounted(){
    this.GET_CATEGORIES_FROM_API()
    .then((categories) => {
        console.log(categories)
        return categories;
    })
},
}

</script>


<style lang="scss">
.header{
    &-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .live-preview{
      h6{
          text-transform: uppercase;
          font-weight: 600;
      }
    
  }
</style>

