<template>
  <div>
      <Navbar />
  <div class="container">
<div class="header-container mt-3">
    <h1>Редактирование товара: ID {{id}}</h1>
     </div>
  </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar"

export default {
data() {
    return {

    id: this.$route.params['id']
    }
},
components: {
    Navbar
}
}
</script>


<style lang="scss">
.header{
    &-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
</style>