<template>
<div>
  <Navbar />
  <div class="container ">
    <!-- <Navbar> -->
     <div class="header-container mt-3">
    <h1>Товары</h1>
     </div>
    <table class="table table-striped">
            <thead>
            <tr>
                <td>ID</td>
                <td>Фото</td>
                <td>Название</td>
                <td>Статус</td>
                <td>Категории</td>
                <td>Цены</td>
                <td>Функции</td>
            </tr>
            </thead>
            <tbody>
              <tr v-for="product in products" :key="product.id">
                  <td>{{ product.id }}</td>
                  <td>
                    <img :src="product.image" class="table-image" alt="">
                  </td>
                  <td>{{ product.title }}</td>
                  <td>{{ product.active }}</td>
                  <td>{{ categoryName(product.categories) }}</td>
                  <td>{{ product.variants.static }}</td>
                  <td><router-link v-bind:id="product.id" tag="i" class="fas i-custom i-custom-edit fa-edit" :to="'/product-edit/'+product.id"></router-link></td>
              </tr>
            </tbody>
        </table>
    <!-- <router-view></router-view> -->
  </div>
</div>

</template>

<style lang="scss">
.header{
    &-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
.table{
  &-image{
    height: 30px;
    width: 60px;
  }
}
.i{
  &-custom{
    color: #b8b8b8;
    font-size: 18px;
      margin: 0px 8px;
  cursor: pointer;
    &-remove{
      &:hover{
      color: red;
      }
    }
    &-edit{
      &:hover{
      color: blue;
      }
    }
  }
}


</style>

<script>
import Navbar from '../components/Navbar';
import { mapGetters, mapActions, mapState } from 'vuex'

export default {
  components:{
    Navbar
  },
  computed: {
    ...mapGetters([
      'PRODUCTS',
      'CATEGORIES'
    ]),
    ...mapState({
      products: state => {
        return state.products;
      },
      categories: state => {
        return state.categories
      }
    })
  },
  methods: {
    ...mapActions([
      'SET_PRODUCTS_TO_STATE',
      'GET_PRODUCTS_FROM_API',
      'SET_CATEGORIES_TO_STATE',
      'GET_CATEGORIES_FROM_API'
    ]),
    categoryName(product_categories) {
      return this.categories.data.filter((obj) => product_categories.includes(obj.id))
                            .map(obj => obj.name)
      //  {
        // console.log(obj, product_categories)
        // if (obj.id in product_categories){
          // return obj.name}
      // })
    }
  },
  mounted () {
    this.GET_CATEGORIES_FROM_API()
    .then((response) => {
      return response;
    })
  }
}
</script>
