<template>
  <div class="container">
    <h1>Home</h1>
    <!-- <button class="btn btn-success" >loadUser info</button> -->

    <span>{{ username }}</span>
    <!-- <span>{{role}}</span> -->

    <span></span>
  </div>
</template>

<style lang="sass"></style>

<script></script>
