<template>
<div class="container">
    <h1>Hello, {{USER.username}} <br />Wait for redirect..</h1>
    <span class="text-muted">
    </span>
</div>
</template>

<script>

import {
    mapActions,
    mapGetters
} from 'vuex'

// const token = localStorage.token

export default {
    props: {},
    data() {
        return {
            user: []
        }
    },
    computed: {
      ...mapGetters([
        'USER'
      ]),
      getUser() {
        return this.$store.getters.USER;
      }
    },
    methods: {
      ...mapActions([
        'SET_USER_TO_STATE',
        'GET_USER_FROM_API'
      ])
    },
    mounted() {
       this.GET_USER_FROM_API()
            .then((response) => {
                // console.log(response);
                
                  this.$router.push('/admin')
                
                return response
            })
    }

}
</script>
