<template>
  <div>
      <Navbar />
      <div class="container mt-3">
        <div class="header-container">
    <h1>Редактирование пользователя {{user.username}}</h1>
        </div>
        <form>
            <div class="md-form">
                <input type="text" v-model="user.username" class="form-control" id="username" >
                <label for="username" class="active">Никнейм</label>
            </div>
                        <div class="md-form">
                            <label for="admin-type">Тип пользователя</label>
                <select  class="mdb-select" id="admin-type" v-model="user.role">
  <option v-for="option in options" :key="option.value" :value="option.value">{{option.text}}</option>
    
</select>
            </div>
            <button @click="editUser" class="btn btn-success">Сохранить</button>
        </form>
        
      </div>

  </div>
</template>

<script>
import Navbar from "../components/Navbar"
import axios from "axios"
import { mapGetters, mapState, mapActions } from 'vuex'
// import { mapGetters } from 'vuex'

// const vm = this;
const baseURL = 'https://api.giftmarket.io'
const editUser = '/admin/admins/edit?token='
const token = localStorage.token
// const username =  this.username
// const role =  this.role
// const id = this.$route.params.id


export default {
    components: {
        Navbar
    },
    data () {
        return {
            id: this.$route.params.id,
            username: '',
            role: '',
            options: [
                { text: 'Суперпользователь', value: 'god'},
                { text: 'Администратор', value: 'admin'},
                { text: 'Редактор', value: 'editor'},
                { text: 'Редактор с расширенными правами', value: 'upper-editor'},
                { text: 'Загрузчик', value: 'uploader'}
            ]
        }
    },
    created() {
        this.role = this.options.find(i => i.id === this.role);
    },
    computed: {
       ...mapGetters([
        //    'USERS',
           'GET_USER'
           ]),
       user(){
           const id = this.$route.params.id
           console.log('GET:' + this.$store.getters.GET_USER(id) + ' :ID:' + this.id)
           return this.$store.getters.GET_USER(id)
       },
       ...mapState({
           users: state => {
               return state.users.data;
           }
       })
    },
    methods: {
        editUser() {
            axios.get(baseURL + editUser + token + '&id=' + this.$route.params['id'] + '&username=' + this.user.username + '&role=' + this.user.role)
            .then((response) => {
                alert('Сохранено, вы будете перенаправлены на главную')
                this.$router.push('/admin')
                return response
            })
            // .catch((error) => {
            //     return error;
            // })
        },
        ...mapActions([
            'SET_USERS_TO_STATE',
            'SET_USER_TO_STATE',
            'GET_USERS_FROM_API',
            'GET_USER_FROM_API',
            'updateUser'       
        ]),
        getUsers() {
            // const id = this.$route.params.id
            console.log(this.GET_USER)
            return this.GET_USER
        },
         getSelectValue(value, text) {
        console.log(value + text);
      },
        mounted() {
          this.GET_USERS_FROM_API()
          .then((response) => {
              console.log(response)
              return response;
          })
        //   const id = this.$route.params.id
          this.$store.state.USERS
          .then((response) => {
              console.log(response)
          })
        }
    }
}
</script>

<style lang="scss">
.mdb-select{
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: 38px;
    padding: 0;
    margin: 0 0 .94rem 0;
    font-size: 1rem;
    line-height: 2.9rem;
    text-overflow: ellipsis;
    cursor: pointer;
    border: 0px;
    border-bottom: 1px solid #ced4da;
    &:focus{
        outline: none;
    }
}
</style>
