<template>
  <div>
    <h1>User id: {{ id }}</h1>
    <button class="btn btn-regular" @click="goBack">Back</button>
    <router-link
      class="btn btn-default mt-2"
      tag="button"
      :to="{
        name: 'userInfo',
        params: { id: id },
        query: { username: 'andreiew', role: 'admin', token: '0' }
      }"
      >Info</router-link
    >
    <hr />
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  data() {
    return {
      id: this.$router.currentRoute.params["id"]
    };
  },
  methods: {
    goBack() {
      this.$router.push("/admin");
    }
  }
  // watch: {
  //     $route (toR, fromR) {
  //         this.id = toR.params['id']
  //     }
  // }
};
</script>
