<template>
  <div>
    <h4>Username: {{ $route.query.username }}</h4>
    <h4>Role: {{ $route.query.role }}</h4>
    <h6>Token: {{ token }}</h6>
  </div>
</template>

<script>
export default {
  computed: {
    token() {
      return this.$route.query.token;
    }
  }
};
</script>
