<template>
  <footer>
      <div class="footer-copyright text-center py-3">{{title}} {{version}}
  </div>
  </footer>
</template>

<script>
export default {
    data() {
        return {
            title: 'GIFT Panel',
            version: '1.3.1-beta'
        }
    }
}
</script>

<style>

</style>