<template>
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-sm" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Изменить пользователя</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="md-form">
            <input type="text" name="username" id="username" v-model="username">
          </div>
                    <div class="md-form">
            <input type="text" name="role" id="role" v-model="role">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" @click="addUser">Save changes</button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from "axios"

const baseURL = 'https://api.giftmarket.io'
const editUser = '/admin/admins/edit?token='

const token = localStorage.token


export default {
data () {
  return {
  username: '',
  role: ''
  }
},
props: {
    placeholder: String
},
methods: {
  addUser () {
 
        const username = '&username=' + this.username
        const role = '&role=' + this.role
        const id = '&id=' + this.id
      
      
    axios.get(baseURL + editUser + token + id + username + role)
    .then((response) => {
      console.log(response)
    //   location.reload()
    })
  }
}
}
</script>

<style>

</style>