<template>
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Change class .modal-sm to change the size of the modal -->
  <div class="modal-dialog modal-md" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Добавить пользователя</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="md-form">
            <input class="form-control" type="text" name="username" id="username" v-model="username">
            <label class="active" for="username">Username (такой, как в Telegram)</label>
          </div>
                    <div class="md-form">
            <input class="form-control" type="text" name="role" id="role" v-model="role">
            <label class="active" for="role">Роль (admin, god, user)</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm" @click="addUser">Save changes</button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from "axios"

const baseURL = 'https://api.giftmarket.io'
const addUser = '/admin/admins/add?token='

const token = localStorage.token


export default {
data () {
  return {
  username: '',
  role: ''
  }
},
methods: {
  addUser () {
 
        const username = '&username=' + this.username
        const role = '&role=' + this.role
      
      
    axios.get(baseURL + addUser + token + username + role)
    .then((response) => {
      console.log(response)
      location.reload()
    })
  }
}
}
</script>

<style>

</style>