<template>
      <nav class="navbar navbar-expand-lg navbar-dark primary-color">
      <a class="navbar-brand" href="#">GIFT Panel</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <router-link
            tag="li"
            class="nav-item"
            to="/admin"
            active-class="active"
          >
            <a class="nav-link">Пользователи</a>
          </router-link>
          <router-link
            tag="li"
            class="nav-item"
            to="/gifts"
            active-class="active"
          >
            <a class="nav-link">Сертификаты</a>
          </router-link>
          <router-link
            tag="li"
            class="nav-item"
            to="/categories"
            active-class="active"
          >
            <a class="nav-link">Категории</a>
          </router-link>
          <!-- <button class="btn btn-success" @click="getUsers">
                 getUsers
     </button>
       -->
        </ul>
      </div>
    </nav>
</template>