<template>
  <div id="app">
    <router-view> </router-view>
    <vFooter></vFooter>
  </div>
</template>

<script>
import vFooter from "./components/footer"
export default {
  components: {
    vFooter
  }
}

</script>
